

#container {
    width:500px;
    margin: 20px auto;
}

#github-user{
    width:300px;
}


@media (min-width: 992px) { 
    #container {
        width:900px;
    }
}


@media (min-width: 1200px) { 
    #container {
        width:1024px;
    }
 }
